<section>
  <h1 class="mt-4" style="text-align: center;">Corona Virus Disease 19 </h1>
  <h1 style="color: #e04141cf; text-align: center;">(Covid-19)</h1>
  <div class="container">
    <div style="text-align: center;">
      <p><img style="width: 32px; height: 18px;" src="{{location?.country?.flag?.file}}" alt="" srcset=""></p>
      <p><strong>Your Location:</strong> {{location?.city?.name + ", " + location?.area?.name + ", " + location?.country?.name}}</p>
      <span><strong>Date:</strong> {{location?.time?.time| date :'short'}}
      </span>
    </div>

    <!-- <form [formGroup]="countryForm" (ngSubmit)="onSubmit()" style="margin: auto; width:100%">
      <div class="form-group mt-5">
        <input class="form-control" type="text" formControlName="country" placeholder="Country name...">
      </div>
      <button class="btn btn-success" [disabled]="!countryForm.valid" type="submit"
        style="background-color: #e04141cf; border: unset; width: 100%;">Search</button>
    </form> -->


    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Country name..." aria-label="Number" matInput [formControl]="myControl"
          formControlName="country" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button class="btn btn-success" type="submit"
        style="background-color: #e04141cf; border: unset; width: 100%;">Search</button>
    </form>

    <div *ngIf="result?.results > 0; else noData">
      <!-- <h1 style="text-align: center; color: #f31e1ecf;font-family: 'Playfair Display', serif;
      padding: 10px; background-color: white;" class="mt-4 sticky-top">{{result.response[0].country}}</h1> -->
      <h1 style="text-align: center; color: #f31e1ecf;font-family: 'Playfair Display', serif;" class="mt-4">{{result.response[0].country}}</h1>
      <div class="row">
        <div class="col-md-4 leftContent">
          <div>
            <div class="totalCaseTitle">
              <h4>Total Cases</h4>
              <h5 class="lang">Nombre total de cas</h5>
            </div>
            <span id="totalCase">{{result?.response[0].cases.total | number}}</span>
          </div><br>
          <div>
            <div class="col totalDeathTitle">
              <h5>Total Deaths</h5>
              <h5 id="death" class="lang">Décès totaux</h5>
            </div><span
              style="font-size: 355%; font-weight: 500; color: indianred;">{{result?.response[0].deaths.total | number}}</span>
          </div><br>
          <div>
            <div class="col totalTestTitle">
              <h5>Total Tests</h5>
              <h5 id="test" class="lang">Tests totaux</h5>
            </div><span
              style="font-size: 300%; font-weight: 500; color: grey;">{{result?.response[0].tests.total | number}}</span>
            <div *ngIf="result.response[0].tests.total == null">
              <em>
                <p style="color: red;">*No testing recorded*</p>
              </em>
            </div>
            <!----><br>
          </div>
          <div class="timeUpdate">
            <div class="col timeTitle">
              <h5 style="font-size: 1rem;">Day Updated</h5>
              <h5 class="lang" style="font-size: 1rem;">Jour mis à jour</h5>
            </div><span style="font-size: 148%; font-weight: 300;">{{result?.response[0].day}}</span>
          </div>
        </div>
        <div class="col-md-7 rightContent">
          <div class="row">
            <div class="map">
              <img src="../../assets/img/covid-map-march-11.png" alt="" srcset="">
            </div>
          </div>
          <div class="row" style="justify-content: space-around; text-align: center;">
            <div class="col-md mx-1">
              <div>
                <h5>Active cases</h5>
                <h5 class="lang">Cas actifs</h5>
              </div><span id="activeCase"
                style="color: rgb(241, 209, 28);">{{result?.response[0].cases.active | number}}</span>
            </div>
            <div class="col-md">
              <h5>Critical cases</h5>
              <h5 class="lang">Cas critiques</h5><span
                style="color: rgb(250, 69, 37); font-size: 400%; font-weight: 500;">{{result?.response[0].cases.critical | number}}</span>
            </div>
            <div class="col-md">
              <h5>Recovered cases</h5>
              <h5 class="lang">Cas récupérés</h5><span
                style="color: rgb(8, 139, 15); font-size: 400%; font-weight: 500;">{{result?.response[0].cases.recovered | number}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template class="" #noData>
      <p style="color: red;"><em>*No result available!*</em></p>
    </ng-template>
  </div>
</section>
